# Use this notebook for your 3 choices of APIs

# Dog Facts

In [1]:
import pandas as pd
import requests
import json

dog = requests.get('http://dog-api.kinduff.com/api/facts?number=5')

In [2]:
type(dog)

requests.models.Response

In [3]:
data = dog.json()
data

{'facts': ['There is a dog-shaped building in New Zealand.',
  'The Labrador Retriever is the most popular breed, according to the American Kennel Club.',
  'Teddy Roosevelt’s dog, Pete, ripped a French ambassador’s pants off at the White House.',
  "Spiked dog collars were used to protect dogs' throats from wolf attacks in ancient Greece.",
  'Dogs who bark the most: Miniature Schnauzers, Cairn Terriers, Yorkshire Terriers, Fox Terriers and West Highland White Terriers.'],
 'success': True}

In [4]:
df = pd.DataFrame(dog.json())
df

                                               facts  success
0     There is a dog-shaped building in New Zealand.     True
1  The Labrador Retriever is the most popular bre...     True
2  Teddy Roosevelt’s dog, Pete, ripped a French a...     True
3  Spiked dog collars were used to protect dogs' ...     True
4  Dogs who bark the most: Miniature Schnauzers, ...     True

# Colormind

In [5]:
colors = requests.get('http://colormind.io/list/')

In [6]:
type(colors)

requests.models.Response

In [7]:
data = colors.json()
data

{'result': ['ui',
  'default',
  'raise_the_red_lantern',
  'the_wind_rises',
  'pokemon_crystal',
  'fauvism']}

In [8]:
df = pd.DataFrame(colors.json())
df

                  result
0                     ui
1                default
2  raise_the_red_lantern
3         the_wind_rises
4        pokemon_crystal
5                fauvism

# Website Carbon

In [9]:
carbon = requests.get('https://api.websitecarbon.com/site?url=https%3A%2F%2Fwww.wholegraindigital.com%2F')

In [10]:
type(carbon)

requests.models.Response

In [11]:
data = carbon.json()
data

{'url': 'https://www.wholegraindigital.com/',
 'green': True,
 'bytes': 328415,
 'cleanerThan': 0.93,
 'rating': 'A+',
 'statistics': {'adjustedBytes': 247953.325,
  'energy': 0.0001870488685090095,
  'co2': {'grid': {'grams': 0.08267559988098219,
    'litres': 0.04598416865380229},
   'renewable': {'grams': 0.07167712641265245,
    'litres': 0.03986681771071728}}},
 'timestamp': 1700586296}

In [12]:
data = pd.DataFrame(carbon.json())
data

,url,green,bytes,cleanerThan,rating,statistics,timestamp
adjustedBytes,https://www.wholegraindigital.com/,True,328415,0.93,A+,247953.325,1700586296
co2,https://www.wholegraindigital.com/,True,328415,0.93,A+,"{'grid': {'grams': 0.08267559988098219, 'litre...",1700586296
energy,https://www.wholegraindigital.com/,True,328415,0.93,A+,0.000187,1700586296

In [13]:
data.shape

(3, 7)

In [14]:
data['statistics'][1]

{'grid': {'grams': 0.08267559988098219, 'litres': 0.04598416865380229},
 'renewable': {'grams': 0.07167712641265245, 'litres': 0.03986681771071728}}

In [15]:
def flatten(data, col_list):
    for column in col_list:
        flattened = pd.DataFrame(dict(data[column])).transpose()
        columns = [str(col) for col in flattened.columns]
        flattened.columns = [column + '_' + colname for colname in columns]
        data = pd.concat([data, flattened], axis=1)
        data = data.drop(column, axis=1)
    return data

In [16]:
data.shape

(3, 7)

In [17]:
from pandas.io.json import json_normalize

results = carbon.json()
flattened_data = json_normalize(results)

flattened_data

C:\Users\jessi\AppData\Local\Temp\ipykernel_15628\3011355120.py:4: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  flattened_data = json_normalize(results)

,url,green,bytes,cleanerThan,rating,timestamp,statistics.adjustedBytes,statistics.energy,statistics.co2.grid.grams,statistics.co2.grid.litres,statistics.co2.renewable.grams,statistics.co2.renewable.litres
0,https://www.wholegraindigital.com/,True,328415,0.93,A+,1700586296,247953.325,0.000187,0.082676,0.045984,0.071677,0.039867

In [19]:
data2 = requests.get('https://api.websitecarbon.com/site?url=https%3A%2F%2Fwww.wholegraindigital.com%2F').json()
data2 = json_normalize(data2)
data2.shape
data2

C:\Users\jessi\AppData\Local\Temp\ipykernel_15628\1810905097.py:2: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  data2 = json_normalize(data2)

,url,green,bytes,cleanerThan,rating,timestamp,statistics.adjustedBytes,statistics.energy,statistics.co2.grid.grams,statistics.co2.grid.litres,statistics.co2.renewable.grams,statistics.co2.renewable.litres
0,https://www.wholegraindigital.com/,True,328580,0.93,A+,1700586255,248077.9,0.000187,0.082717,0.046007,0.071713,0.039887

In [20]:
flattened_data.shape

(1, 12)